// THEME COLORS
$primaryBackground: linear-gradient(180deg, #01FFAD 0%, rgba(196, 196, 196, 0) 100%);

// BACKGROUND COLORS
$bodyBg: #F7FAFC;

// TEXT COLORS


// NORMAL COLORS
$black: black;
$white: white;