.stackbanner {
    background: url(../images/stech-banner.png) no-repeat center center/cover;
    height: 100vh;
    position: relative;


    &-content {
        @include flex-center-column;
        text-align: center;

        .banner-3d {
            position: relative;
            z-index: 2;

            img {}
        }

        .banner-details {
            position: relative;
            z-index: 2;

            .banner-title {
                color: $white;
            }
        }
    }
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    @include wh100;
    background: url(../images/stech-banner.png) no-repeat center center/cover;
    z-index: 1;
}

.abc {
    height: 100vh;
    position: relative;
    z-index: 2;
    background: red;
}