/**=====================================================
            OUT-SERVICES SECTION START
=====================================================**/
.ourservices {
    background: $bodyBg url(../images/pages/services/services-bg.png) no-repeat center center/cover;
    min-height: 100vh;
    position: relative;
    z-index: 2;
    padding: length(80) length(0) length(160);

    @include breakpoint(tablet991) {
        padding: length(40) length(0) length(80);
    }

    &-content {
        @include flex-column;
        gap: length(80);

        @include breakpoint(tablet991) {
            gap: length(40);
        }

        .ribbon {
            width: length(110);
            height: length(220);
            @include flex-center;
            overflow: hidden;

            @include breakpoint(tablet991) {
                width: length(83);
                height: length(150);
            }

            img {
                @include wh100;
                object-fit: contain;
            }
        }
    }

    &-details {
        @include flex-column;
        gap: length(12);
        margin-top: length(80);
    }

    &-header {
        position: relative;

        .ribbon {
            position: absolute;
            top: auto;
            bottom: length(0);
            left: 0;
            z-index: -1;
            width: length(80);
            height: length(140);
            @include flex-center;
            overflow: hidden;

            img {
                @include wh100;
                object-fit: contain;
            }
        }

        .ourservices-title {
            @include font-face($raleway, style('normal'), size(40), weight('bold'), line-height(60, 40));
            color: $gray-800;
        }
    }

    &-body {
        .ourservices-text {
            @include font-face($lorenza, style('normal'), size(18), weight('normal'), line-height(30, 18));
            color: $gray-600;
        }
    }
}