@-webkit-keyframes slideDownIn {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes slideDownIn {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes slideDownInMobile {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes slideDownInMobile {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes slideUpIn {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@keyframes slideUpIn {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

@-webkit-keyframes slideUpInMobile {
  0% {
    -webkit-transform: translateY(size(40));
            transform: translateY(size(40));
  }
  100% {
    -webkit-transform: translateY(size(25));
            transform: translateY(size(25));
  }
  0% {
    -webkit-transform: translateY(size(40));
            transform: translateY(size(40));
  }
}

@keyframes slideUpInMobile {
  0% {
    -webkit-transform: translateY(size(40));
            transform: translateY(size(40));
  }
  100% {
    -webkit-transform: translateY(size(25));
            transform: translateY(size(25));
  }
  0% {
    -webkit-transform: translateY(size(40));
            transform: translateY(size(40));
  }
}

@-webkit-keyframes slideLeftIn {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@keyframes slideLeftIn {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
}

@-webkit-keyframes slideRightIn {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes slideRightIn {
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  0% {
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(1%);
            transform: translateY(1%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(0%);
  }
  50% {
    -webkit-transform: translateY(1%);
  }
  100% {
    -webkit-transform: translateY(0%);
  }
}

/*------------------------------------*\
    // FONT STYLE VARIABLES
\*------------------------------------*/
/*------------------------------------*\
    // FONT STYLE FUNCTIONS
\*------------------------------------*/
/*------------------------------------*\
    // FONT STYLE MIXINS
\*------------------------------------*/
/*------------------------------------*\
		DISPLAY FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		HEADINGS FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		20/12 FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		12/12 FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		14/14 FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		24/14 FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		24/16 FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		26/16 FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		16/16 FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		21/18 FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		30/18 FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		28/20 FONT SIZES
\*------------------------------------*/
/*------------------------------------*\
		38/24 FONT SIZES
\*------------------------------------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
button,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
input,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
main,
nav,
object,
ol,
output,
option,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
select,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
main,
nav,
section {
  display: block;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: #F7FAFC;
  position: relative;
}

a {
  text-decoration: none;
  display: inline-block;
}

figure {
  margin-bottom: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"]::-webkit-search-decoration:focus,
input[type="search"]::-webkit-search-cancel-button:focus,
input[type="search"]::-webkit-search-results-button:focus,
input[type="search"]::-webkit-search-results-decoration:focus {
  outline: none;
}

input:focus,
select:focus {
  outline: none;
}

textarea {
  resize: none;
}

::-webkit-datetime-edit-year-field:not([aria-valuenow]),
::-webkit-datetime-edit-month-field:not([aria-valuenow]),
::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
  color: transparent;
}

input[type="date"]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
  display: none;
}

select {
  cursor: pointer;
}

/**
** HEADING STYLES START
**/
h1 {
  font-family: "Gilroy";
  font-style: normal;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1.36;
}

h2 {
  font-family: "Gilroy";
  font-style: normal;
  font-size: 1.75rem;
  font-weight: 600;
  line-height: 1.36;
}

h3 {
  font-family: "Gilroy";
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.36;
}

h4 {
  font-family: "Gilroy";
  font-style: normal;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.36;
}

h5 {
  font-family: "Gilroy";
  font-style: normal;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.36;
}

h6 {
  font-family: "Gilroy";
  font-style: normal;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.36;
}

/**
** HEADING STYLES END
**/
/*------------------------------------*\
    breakpoint vars
\*------------------------------------*/
/*------------------------------------*\
    breakpoint functions
\*------------------------------------*/
/*------------------------------------*\
    breakpoint mixin
\*------------------------------------*/
/*------------------------------------*\
    breakpoint usage
\*------------------------------------*/
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-center-vert {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-center-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-center-between {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-baseline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.flex-center-baseline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/**=======================================================**
                        HEADER SECTION START
**=======================================================**/
.header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 6.25rem;
  z-index: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
}

.header-content .brandlogo .link {
  width: 10.625rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.header-content .brandlogo .link img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-content .mainmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
  width: calc(100% - 10.625rem);
}

.header-content .mainmenu .mainlist {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.25rem;
  width: calc(100% - 4rem);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-content .mainmenu .mainlist-link {
  color: rgba(255, 255, 255, 0.6);
  overflow: hidden;
}

.header-content .mainmenu .mainlist-link .word {
  position: relative;
}

.header-content .mainmenu .mainlist-link .word .char {
  display: inline-block;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: all 500ms cubic-bezier(0, 0.97, 0.43, 1);
  transition: all 500ms cubic-bezier(0, 0.97, 0.43, 1);
}

.header-content .mainmenu .mainlist-link .word .full-text {
  position: absolute;
  left: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 500ms cubic-bezier(0, 0.97, 0.43, 1);
  transition: all 500ms cubic-bezier(0, 0.97, 0.43, 1);
}

.header-content .mainmenu .mainlist-link:hover:not(.active) {
  color: white;
}

.header-content .mainmenu .mainlist-link:hover:not(.active) .word .char {
  color: white;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 500ms cubic-bezier(0, 0.97, 0.43, 1) calc(250ms * var(--char-index) / var(--char-total));
  transition: all 500ms cubic-bezier(0, 0.97, 0.43, 1) calc(250ms * var(--char-index) / var(--char-total));
}

.header-content .mainmenu .mainlist-link:hover:not(.active) .word .full-text {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: all 500ms cubic-bezier(0, 0.97, 0.43, 1);
  transition: all 500ms cubic-bezier(0, 0.97, 0.43, 1);
}

.header-content .mainmenu .mainlist-link.active {
  color: white;
}

.header-content .mainmenu .changelanguage {
  width: 4rem;
}

.header.scrolled {
  background: white;
}

/**=======================================================**
                        HEADER SECTION END
**=======================================================**/
.modal-content {
  border-radius: 1.25rem;
  border-radius: 1.25rem;
  overflow: hidden;
}

.modal-header {
  border-bottom: 0rem;
  padding: 2rem;
}

@media screen and (max-width: 35.9375rem) {
  .modal-header {
    padding: 1rem;
  }
}

.modal-header .btn-close {
  background: transparent;
  border: none;
  height: 1.75rem;
  width: 1.75rem;
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
  margin: 0rem;
  padding: 0rem;
}

.modal-header .btn-close:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.offcanvas-top {
  height: 100vh;
  border-bottom: none;
}

.offcanvas-bottom {
  height: 100vh;
  border-top: none;
}

.offcanvas-start {
  border-right: none;
}

.offcanvas-end {
  border-left: 0;
}

.offcanvas {
  width: 100%;
}

.offcanvas-header .btn-close {
  height: 2.25rem;
  width: 2.25rem;
  background: transparent;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 1;
}

.offcanvas-header .btn-close svg {
  -webkit-transition: transform 250ms ease-in-out;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.offcanvas-header .btn-close svg path {
  -webkit-transition: all 250ms ease-in-out;
  transition: all 250ms ease-in-out;
}

.offcanvas-header .btn-close:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.offcanvas-header .btn-close:not([disabled]):hover svg {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.offcanvas-body::-webkit-scrollbar {
  background: transparent;
  width: 0.5rem;
}

.offcanvas-body::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  border-radius: 0.5rem;
}

.stackbanner {
  background: url(../images/stech-banner.png) no-repeat center center/cover;
  height: 100vh;
  position: relative;
}

.stackbanner-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.stackbanner-content .banner-3d {
  position: relative;
  z-index: 2;
}

.stackbanner-content .banner-details {
  position: relative;
  z-index: 2;
}

.stackbanner-content .banner-details .banner-title {
  color: white;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(../images/stech-banner.png) no-repeat center center/cover;
  z-index: 1;
}

.abc {
  height: 100vh;
  position: relative;
  z-index: 2;
  background: red;
}
