/**=====================================================**
                        HOME-CARDS
=======================================================**/

// 01. CARD-CONCERN
// 02. CARD-SERVICE
// 03. CARD-CLIENT

/* CARD-CONCERN START */
.card-concern {
    @include flex-center-vert;
    background: $white;
    width: length(312);
    height: length(90);
    cursor: pointer;

    @include breakpoint(phone768) {
        @include w100;
    }

    &-thumbnail {
        @include flex-center;
        overflow: hidden;
        width: length(130);
        @include h100;
        padding: length(10) length(34);

        @include breakpoint(laptop1100) {
            width: length(96);
            padding: length(10) length(16);
        }

        img {
            max-width: 100%;
            object-fit: contain;
            height: 100%;
        }
    }

    &-details {
        @include border-single(left, solid, 1, $gray-200);
        @include flex-center;
        text-align: center;
        padding: length(10);
        width: calc(100% - 8.125rem);
        @include h100;
        background: $white;

        @include breakpoint(laptop1100) {
            width: calc(100% - 6rem);
            text-align: left;
            justify-content: flex-start;
        }

        .concern-title {
            @include font-face($raleway, style('normal'), size(16), weight('medium'), line-height(26, 16));
            color: $gray-600;
            font-feature-settings: 'salt'on;
        }
    }

    @include hover {
        filter: $shadowBig;

        .card-concern-details {
            background: $concernHoverBg;
            border-color: $concernHoverBg;

            .concern-title {
                color: $white;
            }
        }
    }
}

/* CARD-CONCERN END */

/* CARD-SERVICE START */
.card-service {
    background: $white;
    @include flex-center-column;
    gap: length(8);
    width: calc((100% / 5) - 1.5rem);
    padding: length(60) length(48);
    overflow: hidden;
    position: relative;
    height: 100%;

    @include breakpoint(desktop1400) {
        width: calc((100% / 4) - 1.5rem);
        padding: length(48) length(32);
    }

    @include breakpoint(desktop1199) {
        width: calc((100% / 3) - 1.5rem);
        padding: length(32);
    }

    @include breakpoint(tablet991) {
        width: calc((100% / 2) - 1.5rem);
    }

    @include breakpoint(phone575) {
        @include w100;
    }

    .counter {
        position: absolute;
        top: length(-8);
        left: length(-8);
        @include square(length(52));
        @include circle;
        @include flex-center;
        text-align: center;
        @include setBgColor($gradient-3, $white);
        @include font-face($raleway, style('normal'), size(20), weight('semibold'), line-height(27.3, 20));
        overflow: hidden;
    }

    &-header {
        .serviceicon {
            background: $gradient-2;
            @include square(length(70));
            @include flex-center;
            @include circle;
            padding: length(15);
        }
    }

    &-body {
        @include w100;
        @include flex-center-column;
        gap: length(8);
        overflow: hidden;
        text-align: center;

        .service-title {
            color: $gray-600;
            @include text-overflow;
        }

        .serviceinfo {
            display: none;

            .service-text {
                color: $gray-600;
            }
        }
    }

    @include hover {
        cursor: pointer;

        .counter {
            @include square(length(85));
            top: length(-16);
            left: length(-16);
            @include font-face($raleway, style('normal'), size(28), weight('semibold'), line-height(38, 28));
        }

        .card-service-body {
            .serviceinfo {
                display: block;
            }
        }
    }
}

/* CARD-SERVICE END */

/* CARD SERVICE-INFO START */
.card-serviceinfo {
    overflow: hidden;
    position: relative;

    &-thumbnail {
        @include w100;
        height: length(720);
        overflow: hidden;

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;

            @include hover {
                // @include transform(scale(1.05));
            }
        }
    }

    .service-detail {
        position: absolute;
        top: length(0);
        left: length(0);
        @include wh100;
        z-index: 10;
        padding: length(34) length(28);
        @include flex-column;
        gap: length(24);

        .service-header {
            @include flex-center-vert;
            gap: length(8);

            .icon {
                width: length(30);
                height: length(54);
                @include flex-center;

                img {
                    max-width: 100%;
                }
            }

            .servicetitle {
                color: $white;

                @include breakpoint(desktop1400) {
                    font-size: length(24);
                }

                @include breakpoint(desktop1366) {
                    font-size: length(20);
                }

                @include breakpoint(desktop1169) {
                    font-size: length(18);
                }

                @include breakpoint(laptop1100) {
                    font-size: length(16);
                }

                @include breakpoint(desktop1024) {
                    font-size: length(15);
                }
            }
        }

        .service-body {
            display: none;

            .servicetext {
                color: $white;
            }
        }
    }

    @include hover {
        .service-detail {
            background: rgba($black, 0.5);

            .service-body {
                display: block;
            }
        }
    }
}

/* CARD SERVICE-INFO END */

/* CARD CLIENT START */
.card-client {
    @include flex-center;
    overflow: hidden;
    height: length(174);
    padding: length(20);
    cursor: pointer;
    @include border(solid, 1, $gray-300);

    img {
        max-width: 100%;
        object-fit: contain;
        @include transitiontransform;
    }

    @include hover {
        img {
            @include transform(scale(1.1));
        }
    }
}

/* CARD CLIENT END */

/**=====================================================**
                        ABOUT-CARDS
=======================================================**/
.card-director {
    @include flex-column;
    gap: length(16);

    &-header {
        overflow: hidden;
        height: length(371);
        @include flex-center;

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;

            @include hover {
                @include transform(scale(1.1));
            }
        }
    }

    &-body {
        @include flex-column;
        align-items: flex-start;
        gap: length(8);

        .name {
            @include font-face($raleway, style('normal'), size(20), weight('semibold'), line-height(27.3, 20));
            color: $gray-700;
            @include transitions;

            @include hover {
                color: $black;
            }
        }

        .position {
            @include font-face($raleway, style('normal'), size(16), weight('semibold'), line-height(25, 16));
            color: $gray-600;
        }
    }
}

/**=====================================================**
                        SERVICE-CARDS
=======================================================**/
.cardservice {
    @include flex-center-column;
    gap: length(28);
    padding: length(46) length(24);
    background: $white;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-align: center;
    // @include transitions;

    .servicecounter {
        @include square(length(116));
        @include circle;
        @include flex-center;
        text-align: center;
        position: absolute;
        top: length(-38);
        left: length(-35);
        @include setBgColor($gradient-3, $white);

        .counter {
            @include font-face($raleway, style('normal'), size(24), weight('bold'), line-height(32.65, 24));
            position: absolute;
            top: 47%;
            left: 47%;
            right: auto;
        }
    }

    &-header {
        @include flex-center-column;
        gap: length(15);

        .serviceion {
            background: $gradient-2;
            padding: length(20);
            @include square(length(90));
            @include circle;
            @include flex-center;
            overflow: hidden;
        }

        .servicetitle {
            @include font-face($raleway, style('normal'), size(20), weight('semibold'), line-height(27.3, 20));
            color: $gray-700;
        }
    }

    &-body {
        .servicetext {
            @include font-face($lorenza, style('normal'), size(18), weight('normal'), line-height(30, 18));
            color: $gray-600;
        }
    }

    @include hover {
        background: $serviceHoverBg;
        box-shadow: $serviceShadow;

        .cardservice-header {
            .servicetitle {
                color: $white;
            }
        }

        .cardservice-body {
            .servicetext {
                color: $white;
            }
        }
    }
}

/**=====================================================**
                        CLIENTS-CARDS
=======================================================**/
.cardclient {
    @include w100;
    height: length(174);
    @include border(solid, 1, $gray-300);
    @include flex-center;
    overflow: hidden;

    img {
        max-width: 100%;
        object-fit: contain;
        @include transitiontransform;
    }

    @include hover {
        img {
            @include transform(scale(1.1));
        }
    }
}

/**=====================================================**
                        NEWS-EVENTS-CARDS
=======================================================**/
.cardevent {
    @include flex-column;
    gap: length(8);
    @include h100;

    &-header {
        @include w100;
        height: length(165);
        overflow: hidden;

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;

            @include hover {
                @include transform(scale(1.1));
            }
        }
    }

    &-body {
        @include flex-column;
        gap: length(12);

        .title-date {
            @include flex-column;

            .cardevent-title {
                color: $gray-800;
            }
            .date {
                @include font-face($lorenza, style('normal'), size(16), weight('normal'), line-height(26, 16));
                color: $gray-600;
            }
        }

        .description {
            .cardevent-text {
                @include font-face($lorenza, style('normal'), size(18), weight('normal'), line-height(30, 18));
                color: $gray-600;
            }
        }

        .read {
            .readmore {
                @include font-face($raleway, style('normal'), size(16), weight('semibold'), line-height(25, 16));
                color: $gray-800;
                @include transitions;

                @include hover {
                    color: $blue;
                }
            }
        }
    }
}

.cardnews {
    @include flex-column;
    gap: length(8);
    @include h100;

    &-header {
        @include w100;
        height: length(165);
        overflow: hidden;

        img {
            @include wh100;
            object-fit: cover;
            @include transitiontransform;

            @include hover {
                @include transform(scale(1.1));
            }
        }
    }

    &-body {
        @include flex-column;
        gap: length(12);

        .title-date {
            @include flex-column;

            .cardnews-title {
                color: $gray-800;
                @include line-clamp;
                height: length(55);
            }
            .date {
                @include font-face($lorenza, style('normal'), size(16), weight('normal'), line-height(26, 16));
                color: $gray-600;
            }
        }

        .description {
            .cardnews-text {
                @include font-face($lorenza, style('normal'), size(18), weight('normal'), line-height(30, 18));
                color: $gray-600;
            }
        }

        .read {
            .readmore {
                @include font-face($raleway, style('normal'), size(16), weight('semibold'), line-height(25, 16));
                color: $gray-800;
                @include transitions;

                @include hover {
                    color: $blue;
                }
            }
        }
    }
}