/**=====================================================
                FOOTER SECTION START
=====================================================**/
.footer {
    padding: length(80) length(0);
    @include w100;

    .footerlogo,
    .footnewsletter,
    .aboutlist,
    .contactlist,
    .sociallist,
    .contact-title,
    .about-title,
    .copyright-text {
        position: relative;
        z-index: 2;
    }

    &-content {
        @include flex-column;
        gap: length(80);

        @include breakpoint(tablet991) {
            position: relative;
            z-index: 2;
        }

        .stecnewsletter {
            @include flex-column;
            gap: length(40);

            @include breakpoint(tablet991) {
                align-items: center;
            }

            .footerlogo {
                width: length(200);
                height: length(56);
                overflow: hidden;
                @include flex-center;
                pointer-events: none;

                img {
                    @include wh100;
                    object-fit: cover;
                }
            }

            .footnewsletter {
                background: $white;
                padding: length(5);
                width: length(332);
                height: length(46);
                @include flex-center-vert;

                .inputfield {
                    @include setBgColor(transparent, $gray-800);
                    @include font-face($lorenza, style('normal'), size(13), weight('normal'), line-height(13, 13));
                    padding: length(0) length(11);
                    width: calc(100% - 6.125rem);
                    @include h100;

                    &::placeholder {
                        color: $newsletterPlaceholder;
                    }
                }

                .btn-subscribe {
                    width: length(98);
                    height: length(36);
                    @include flex-center;
                    text-align: center;
                    @include setBgColor($blue, $white);
                    @include font-face($raleway, style('normal'), size(12), weight('semibold'), line-height(12, 12));
                    @include transitions;

                    @include hover {
                        background: $concernHoverBg;
                    }
                }
            }
        }

        .aboutinfo {
            @include flex-column;
            gap: length(24);

            @include breakpoint(tablet991) {
                align-items: center;
                text-align: center;
            }

            .about-title {
                @include font-face($lorenza, style('normal'), size(20), weight('medium'), line-height(32, 20));
                color: $white;
            }

            .aboutlist {
                @include list-vertical;
                gap: length(8);

                &-link {
                    @include font-face($lorenza, style('normal'), size(14), weight('normal'), line-height(24, 14));
                    color: $white;
                    @include transitions;

                    @include hover {
                        color: $primary;
                    }
                }
            }
        }

        .contactinfo {
            @include flex-column;
            gap: length(24);

            @include breakpoint(tablet991) {
                align-items: center;
                text-align: center;
            }

            .contact-title {
                @include font-face($lorenza, style('normal'), size(20), weight('medium'), line-height(32, 20));
                color: $white;
            }

            .contactlist-sociallist {
                @include flex-column;
                gap: length(40);

                @include breakpoint(tablet991) {
                    align-items: center;
                    text-align: center;
                }

                .contactlist {
                    @include list-vertical;
                    gap: length(8);

                    @include breakpoint(tablet991) {
                        align-items: center;
                        text-align: center;
                        max-width: 100%;
                    }

                    &-link {
                        @include font-face($lorenza, style('normal'), size(14), weight('normal'), line-height(24, 14));
                        color: $white;
                        @include transitions;

                        @include hover {
                            color: $primary;
                        }
                    }
                }

                .sociallist {
                    @include list-horizontal;
                    gap: length(40);

                    @include breakpoint(tablet991) {
                        align-items: center;
                    }

                    @include breakpoint(phone575) {
                        gap: length(24);
                    }

                    &-link {
                        @include square(length(40));
                        @include flex-center;
                        @include circle;
                        overflow: hidden;
                        background: $gradient-4;
                        padding: length(10);

                        svg {
                            // @include square(length(20));
                            @include wh100;
                        }

                        .whiteicon {
                            display: block;
                            @include square(length(20));
                        }

                        .gradienticon {
                            display: none;
                            @include square(length(20));
                        }

                        @include hover {
                            background: $white;

                            .whiteicon {
                                display: none;
                            }

                            .gradienticon {
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
    }

    .footerinfo {
        .copyright-text {
            color: $white;
            @include font-face($lorenza, style('normal'), size(14), weight('normal'), line-height(20, 14));
            text-align: center;
            pointer-events: none;

            &::selection {
                background: transparent;
                color: $white;
            }
        }

        .developtext {
            color: $white;
            @include font-face($lorenza, style('normal'), size(14), weight('normal'), line-height(20, 14));
            text-align: center;
            position: relative;
            @include flex-center;
            gap: length(8);
            // gap: length(12);
            z-index: 100;
            text-align: center;
            pointer-events: none;

            &::selection {
                background: transparent;
                color: $white;
            }

            .link {
                display: inline-block;
                color: $white;
                @include font-face($lorenza, style('normal'), size(14), weight('normal'), line-height(20, 14));
                width: auto;
                pointer-events: painted;

                &::selection {
                    background: transparent;
                    color: $white;
                }

                @include hover {
                    color: $primary;
                }
            }
        }
    }
}