.preloader {
    @include flex-center;
    position: fixed;
    @include w100;
    height: 100vh;
    z-index: 9999;
    background: $white;
    overflow: hidden;
    z-index: 9999999;
}

@keyframes load {
    0% {
        left: 0;
        height: length(30);
        width: length(15);
    }

    50% {
        height: length(8);
        width: length(40);
    }

    100% {
        left: length(235);
        height: length(30);
        width: length(15);
    }
}