.preloader {
    @include flex-center;
    position: fixed;
    @include w100;
    height: 100vh;
    z-index: 9999;
    background: $white;
    overflow: hidden;
    z-index: 9999999;

    .logo {
        position: relative;
        width: length(250);
        @include flex-center;
        height: length(80);

        img {
            max-width: 100%;
            object-fit: contain;
        }

        &::before,
        &::after {
            content: "";
            display: block;
            @include square(length(15));
            background: $gradient-4;
            position: absolute;
            animation: load 0.7s infinite alternate ease-in-out;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }
    }
}

@keyframes load {
    0% {
        left: 0;
        height: length(30);
        width: length(15);
    }

    50% {
        height: length(8);
        width: length(40);
    }

    100% {
        left: length(235);
        height: length(30);
        width: length(15);
    }
}