/**=====================================================
            STECH-BANNER-SIMULATOR(CANVAS)
=====================================================**/
canvas {
    position: fixed;
    top: 0;
    left: 0;
    @include wh100;
    z-index: 0;
    display: inline-block;
}

h1,
.aboutinfo .about-title,
.contactinfo .contact-title {
    pointer-events: none;
}

img {
    &::selection {
        background: transparent;
    }
}