.container01 {
    background: black;
}

.bd {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 1;
}

.head {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    transform: translate(-50%, -50%);
}

.sign {
    position: absolute;
    top: length(-150);
    opacity: 0;
    visibility: hidden;

    @include breakpoint(tablet991) {
        top: length(-100);
    }

    @include breakpoint(phone575) {
        top: length(-48);
    }
}